img[src*="cube-"][src*=".png"] {
    display:inline-block;
    height:7.5rem;
    margin-left:1.25rem;
    margin-right:1.25rem;
    margin-bottom:1rem;
}
img[src*="cube-"][src$="#flip"] {
    transform:scaleX(-1);
}
img[src*="cube-"][src$="#smol"] {
    height:5rem;
    margin-bottom:2rem;
}
img[src*="cube-"][src$="#huge"] {
    height:10rem;
    margin-bottom:0rem;
}
img[src*="blob-of-catdog.png"] {
    width:15rem;
    margin-left:1.25rem;
}
