@font-face {
    font-family: 'LitteraeIgnotae';
    font-style: normal;
    font-weight: 400;
    src: url('/public/webfonts/LitteraeIgnotae-Regular.ttf');
}
.font-litterae-ignotae {
    font-family: 'LitteraeIgnotae';
}
.lingua-ignota-highlight {
    text-decoration: underline;
}
