@font-face {
    font-family: 'PaperGirls';
    font-style: normal;
    font-weight: 400;
    src: url('/public/webfonts/Papergirls-Regular.ttf');
}
.font-papergirls {
    font-family: 'PaperGirls';
}
