.cube-pets > p {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.cube-pets > p > img {
    width: 30%;
}
.cube-pets > p > img.smol {
    width: 20%;
}
.cube-pets > p > img.huge {
    width: 40%;
}
.cube-pets > p > img.flip {
    transform: scaleX(-1);
}
