<header class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <img class="sidebar-about-photo" src="/public/images/me.png" alt="It's me!"/>
            <h1><a href="$site_url$">$site_title$</a></h1>
            <p class="lead">
                Hiya!
                I'm <span class="tooltip" title="/wɛn/">Wen</span>.
                I study natural language, programming languages and logical languages.
                Basically, all the language&hellip;
            </p>
        </div>
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="/">
                Blog
            </a>
            <a class="sidebar-nav-item" href="/pages/pubs.html">
                Pubs
            </a>
        </nav>
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item sidebar-nav-icon" href="mailto:$email$">
                <i class="far fa-envelope"></i>
            </a>
            <a class="sidebar-nav-item sidebar-nav-icon" href="https://github.com/$github_user$">
                <i class="fab fa-github"></i>
            </a>
            <a class="sidebar-nav-item sidebar-nav-icon" href="https://twitter.com/$twitter_user$">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="sidebar-nav-item sidebar-nav-icon" href="https://www.paypal.me/$paypal_user$">
                <i class="fab fa-paypal"></i>
            </a>
        </nav>
        <div class="sidebar-about">
            &copy; 2020. All rights reserved.
        </div>
    </div>
</header>
